---

image:
  name: maven:3.9-eclipse-temurin-11

variables:
  MAVEN_OPTS: "-Xmx256m"

stages:
  - build
  - deploy
  - trigger

maven-build:
  stage: build
  environment: staging
  script:
    - "mvn spotless:check"
    - "mvn package"
  tags:
    - docker
  artifacts:
    when: always
    paths:
      - "**/target/surefire-reports/TEST-*.xml"
    reports:
      junit:
        - "**/target/surefire-reports/TEST-*.xml"

maven-deploy:
  stage: deploy
  environment: staging
  script:
    - "mvn deploy -DperformRelease -DskipTests"
  rules:
    - if: $CI_COMMIT_BRANCH == "v5-main"
    - if: $CI_COMMIT_BRANCH == "v5-dev"
    - if: $CI_COMMIT_BRANCH =~ /^v5-ft-.*-deploy$/
    - if: $CI_COMMIT_BRANCH =~ /^v5-hf-.*$/
  tags:
    - docker
